emacs/emacs.d/auto-save-list
emacs/emacs.d/custom.el
emacs/emacs.d/elpa
emacs/emacs.d/eshell
emacs/emacs.d/network-*
emacs/emacs.d/org-notes
emacs/emacs.d/semanticdb
emacs/emacs.d/session.*

vim/vim/autoload
vim/vim/plugged
